<div>
  <p>
    <form action= "/post/new_post" method= "post">
      <table>
        title<input type= "text" name= "title"><br>
        description<input type= "text" name= "description"><br>
        price<input type= "text" name= "price"><br>
        email<input type= "text" name= "email"><br>
        category<input type= "text" name= "category_id"><br>
        <input type= "submit">
      </table>
  </form>
  </p>
</div>

